@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your Login ID?";
}

<h1 style="font-family: 'Titillium Web', sans-serif;">@ViewData["Title"]</h1>
<div style="font-family: 'Titillium Web', sans-serif;" class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form method="post">
            <h4 style="font-family: 'Titillium Web', sans-serif;">Enter your details.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.FirstName">First Name</label>
                <input asp-for="Input.FirstName" class="form-control" />

                <label asp-for="Input.LastName">Last Name</label>
                <input asp-for="Input.LastName" class="form-control" />

                <label asp-for="Input.School">School</label>
                <input asp-for="Input.School" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
