@using Microsoft.AspNetCore.Identity
@using AFCSTEM.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    ViewBag.title = "Account Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    h1 {
        font-family: 'Titillium Web', sans-serif;
    }

    p {
        font-family: 'Titillium Web', sans-serif;
    }
</style>
<h1>Account Details</h1>
<p>Your username is @user.UserName</p>
<p>Please write and remember this as your unique ID to login.</p>
<p>Your password is your first name and is case sensitive: @user.FirstName</p>