
@{
    ViewBag.title = "Survey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /*heading*/
    h1 {
        text-align: center;
        font-family: Titillium Web, sans-serif;
        color: #004b8d;
        margin-top: 100px;
    }
    /*Styling the Embedded element*/
    iframe {
        width: 100%;
        height: 100%;
    }
    /*the div element holding each survey*/
    .tabcontent {
        height: 5600px;
        display: none;
        margin-bottom: 20px;
    }
    /* side bar text*/
    #textPara {
        margin-top: 20px;
        font-size: 20px;
        width: 100%;
        font-family: 'Titillium Web', sans-serif;
        color: #002b5c;
    }
    /*Container for the buttons*/
    .form-check {
        margin-top: 20px;
        font-family: 'Titillium Web', sans-serif;
    }
    /*drop down menu to chose the school*/
    #selSchool {
        margin-top: 20px;
        width: 100%;
    }
    /*select element for drop down menu*/
    #s1 {
        background-color: #33619e;
        font-family: 'Titillium Web', sans-serif;
        color: white;
        padding: 5px;
        border: 1px solid black;
        width: 100%;
        cursor: pointer;
        margin-top: 60px;
        border-radius: 5px;
    }
    /*the side select options container*/
    #wholeRow {
        top: 20px;
        width: 100%; 
    }
    /*Hide the default radio buttons*/
    input[type=radio]{
        opacity: 0;
        width: 0;
        height: 0;
        
    }
    /*Style the buttons to choose pre/post surveys */
    label {
        position: absolute;
        left: 0;
        top: 0;
        height: 40px;
        width: 100%;
        border: 2px solid #33619e;
        padding: 5px;
        padding-bottom: 10px;
        font-size: 20px;
        border-radius: 5px;
        background-color: white;
        cursor: pointer;
        color: black;
        text-align: center;
    }
    /* when mouse is hoved on label*/
        label:hover {
            background-color: #33619e;
            cursor: pointer;
            color: white;
        }
    /*When label is clickes*/
    input[type=radio]:checked + label {
        background-color: #33619e;
        color: white;
    }
</style>

<h1>Survey</h1>

<div class="row">
    <div class="col-md-3">
        <div id="wholeRow">
            <div id="textPara">
                <p>Please select ...</p>
            </div>
            <!--Radio Buttons, styled into labels-->
            <div class="form-check">
                <input class="form-check-input" type="radio" id="Pre" name="Survey" value="pre" onclick="cSurvey(event), choseSurvey()" checked />
                <label class="form-check-label" for="Pre">Pre Survey</label><br />
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="Post" name="Survey" value="post" onclick="cSurvey(event), choseSurvey()" />
                <label class="form-check-label" for="Post">Post Survey</label>
            </div>
            <!--Drop down menu for students to choose their school-->
            <div id="selSchool">
                <select id="s1" name="Schools" onchange="choseSurvey()">
                    <option value="" disabled selected>Please select your school</option>
                    <option value="BrightonPS" id="BrightonPS" onclick="choseSurvey()">Brighton PS</option>
                    <option value="WhyallaPS" id="WhyallaPS" onclick="choseSurvey()">Whyalla PS</option>
                    <option value="Rostrevor" id="Rostrevor" onclick="choseSurvey()">Rostrevor</option>
                    <option value="CharlesCampbell" id="CharlesCampbell" onclick="choseSurvey()">Charles Campbell</option>
                    <option value="TMC" id="TMC" onclick="choseSurvey()">TMC</option>
                    <option value="Prospect" id="Prospect" onclick="choseSurvey()">Prospect</option>
                    <option value="Merecedes" id="Merecedes" onclick="choseSurvey()">Merecedes</option>
                    <option value="StPauls" id="StPauls" onclick="choseSurvey()">St Pauls</option>
                    <option value="Salisbury" id="Salisbury" onclick="choseSurvey()">Salisbury</option>
                </select>
            </div>
        </div>
    </div>
    <!--Each div element contains the embed code for the pre or post surveys -->
    <!--Brighton PS-->
    <div id="preBrightonPS" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScJgzwO1kWZ-1OZPnYxQXfxsdSc8Z7yqdrWgpQcXB8KOgbPYg/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <div id="postBrightonPS" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfZqZHLWYmsyX11ELEpthB-SxRNyNQtgFVwjpMJ4qLw6M0iaw/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <!--Whyalla PS-->
    <div id="preWhyallaPS" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfesMJ-W66axxe6d2Z7ArlInNclzcj8oeBdKdaCZTF17u-nkQ/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <div id="postWhyallaPS" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScBmzYDnoe67MFeqzpznxTXlMHdZj23cWouG6e4RycvNkNTzQ/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <!--Rostrevor-->
    <div id="preRostrevor" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdVCWapOzLokxwQwr0M_xvTGtDCEGD7beNbn3KEx8GgqGTiWQ/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <div id="postRostrevor" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSemwJDAgjOdsbzb_4QghntY3wrQXJk8w4xhGbt8yR6hPK678w/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <!--Charles Campbell-->
    <div id="preCharlesCampbell" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdHDzahvzvMYq8RVmmiSIgiOX8U8pNzlVgnzgmgM2rqH_XzlA/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <div id="postCharlesCampbell" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe-nlW0LgWFxaIRrztQ7sMB2qYefB0zTXVCL_hqWpdzhgLFag/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <!--TMC-->
    <div id="preTMC" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSepGdvb5wTbVUggWG05t3tJS7dN6nxuAltcWrN78kwaOsdXNw/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <div id="postTMC" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSduh-frU-Kgi7QdzTarAnYg_SNvMW5yQWP6-TNO0UgSGp0hbg/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <!--Prospect-->
    <div id="preProspect" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSchw4OvE-nxhIvLMw3l5jkw-SfVDO7vDHQuIU6Pet-hIP7oxg/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <div id="postProspect" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSemk5GkezEUHBpJYvd8xu8G_-Wcd5QHdUKW9nC6lqE-h_-keQ/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <!--Merecedes-->
    <div id="preMerecedes" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdMm7QyqZoDsvwe_ijiV8GiYGL6BebA8QGxd3Ko1Jz3RQSyUA/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <div id="postMerecedes" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScPEh7JaHG8-AVNE9gMrTe7qsZwTZFaIgnpuh53YcW-X8Nnmw/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <!--St Pauls-->
    <div id="preStPauls" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScwHRjCpebGXtEgJ3j-LamsmnxChcq5G8NtanC-dsFJ8rHDOQ/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <div id="postStPauls" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScj9uYjDla_yXK0J3V2X0P4G5YWd9UCHE17bBg-oYr0k6JWvg/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <!--Salisbury -->
    <div id="preSalisbury" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc5SYIE5GVWb2kT4ssCwN7ZrEpgYnwtqtU0wIGsAgcbplRqjg/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>

    <div id="postSalisbury" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf5-ltAFj1JpsMQfCScEy1HN8miDtYeFB5V5wvIFx8e2M7omw/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>

</div>



<script>
    var prePost = 'pre'; // varible to stored current radio button choice
    stickyNavbar();

    // Method to chose which embedded survey to display. Gets currently chosen radio button and selected school
    function choseSurvey() {
        var school = document.getElementById("s1").value;
        var i, tabcontent;
        var survey = prePost + school
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        document.getElementById(survey).style.display = "block";
        document.getElementById("s1").className += " active";
    }
    // Method to set value of the currently clicked radio button. 
    // When called, choseSurvey is called through inline 'onclick' to display the school's survey
    function cSurvey(evt) {
        var school = document.getElementById("s1").value;
        prePost = evt.currentTarget.value;
        document.getElementById(school).click();
                
    }
    // Method to fix the navbar to the top on scroll. 
    // Adds to nav tag class list
    function stickyNavbar() {
        var element = document.getElementsByTagName('nav');
        element[0].classList.add('fixed-top');
    }
</script>

