
@{
    ViewBag.title = "Survey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /*heading*/
    h1 {
        text-align: center;
        font-family: Titillium Web, sans-serif;
        color: #004b8d;
    }
    /*Styling the Embedded element*/
    iframe {
        width: 100%;
        height: 100%;
    }
    /*the div element holding each survey*/
    .tabcontent {
        height: 3100px;
        display: none;
    }
    /* side bar text*/
    #textPara {
        margin-top: 20px;
        font-size: 20px;
        width: 100%;
        font-family: 'Titillium Web', sans-serif;
        color: #002b5c;
    }
    /*Container for the buttons*/
    .form-check {
        margin-top: 20px;
        font-family: 'Titillium Web', sans-serif;
    }
    /*drop down menu to chose the school*/
    #selSchool {
        margin-top: 20px;
        width: 100%;
    }
    /*select element for drop down menu*/
    #s1 {
        background-color: #33619e;
        font-family: 'Titillium Web', sans-serif;
        color: white;
        padding: 5px;
        border: 1px solid black;
        width: 100%;
        cursor: pointer;
        margin-top: 60px;
        border-radius: 5px;
    }
    /*the side select options container*/
    #wholeRow {
        position: sticky;
        top: 20px;
        width: 100%;
    }
    /*Hide the default radio buttons*/
    input[type=radio]{
        opacity: 0;
        width: 0;
        height: 0;
        
    }
    /*Style the buttons to choose pre/post surveys */
    label {
        position: absolute;
        left: 0;
        top: 0;
        height: 40px;
        width: 100%;
        border: 2px solid #33619e;
        padding: 5px;
        padding-bottom: 10px;
        font-size: 20px;
        border-radius: 5px;
        background-color: white;
        cursor: pointer;
        color: black;
        text-align: center;
    }
    /* when mouse is hoved on label*/
        label:hover {
            background-color: #33619e;
            cursor: pointer;
            color: white;
        }
    /*When label is clickes*/
    input[type=radio]:checked + label {
        background-color: #33619e;
        color: white;
    }

</style>

<h1>Survey</h1>

<div class="row">
    <div class="col-md-3">
        <div id="wholeRow">
            <div id="textPara">
                <p>Please select ...</p>
            </div>
            <!--Radio Buttons, styled into labels-->
            <div class="form-check">
                <input class="form-check-input" type="radio" id="Pre" name="Survey" value="pre" onclick="cSurvey(event), choseSurvey()" checked />
                <label class="form-check-label" for="Pre">Pre Survey</label><br />
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="Post" name="Survey" value="post" onclick="cSurvey(event), choseSurvey()" />
                <label class="form-check-label" for="Post">Post Survey</label>
            </div>
            <!--Drop down menu for students to choose their school-->
            <div id="selSchool">
                <select id="s1" name="Schools" onchange="choseSurvey()">
                    <option value="" disabled selected>Please select your school</option>
                    <option value="Ridgehaven" id="Ridgehaven" onclick="choseSurvey()">Ridgehaven</option>
                    <option value="SheidowPark" id="SheidowPark" onclick="choseSurvey()">Sheidow Park</option>
                    <option value="Gumeracha" id="Gumeracha" onclick="choseSurvey()">Gumeracha</option>
                    <option value="SurreyDowns" id="SurreyDowns" onclick="choseSurvey()">Surrey Downs</option>
                    <option value="ParaHills" id="ParaHills" onclick="choseSurvey()">Para Hills</option>
                </select>
            </div>
        </div>
    </div>
    <!--Each div element contains the embed code for the pre or post surveys -->
    <!--Ridgehaven-->
    <div id="preRidgehaven" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfCUKY_05V3gDyQwSHF_9IaOceQP--5kcvmjw8VxMBK3-mfKA/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <div id="postRidgehaven" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSftpwWSIPMgJqpyvHkvdfFoSAaCEbFBVRZpKkQWxQrj1klUig/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <!--Sheidow Park-->
    <div id="preSheidowPark" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdLNrdRWzYNtr54N6kQ40VqezK4CEagbwQLnB-DERIkptwMJA/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <div id="postSheidowPark" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScMrcFm6Dx9DRaYtG6GuGmeXjimFCB4fN8G5Z9eJw9ivUReZA/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <!--Gumeracha-->
    <div id="preGumeracha" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeyUgSHDiwqcoYgGGqUrCzWermD63p4y0738_MQe3odq1AGZQ/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <div id="postGumeracha" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdIQA0zjGRSI16dlfp833nLDmQxlkU9DvjHz541EPiEtOp6Ug/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <!--Surrey Downs-->
    <div id="preSurreyDowns" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScfuBW33ysSMQr6ElIQvzxla1SOGhv5unMXch9Wuugs40jHXg/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <div id="postSurreyDowns" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfR_TA-JTGGuwM3kftG4KKrJ8nd18CbpseShB-b1Cbpn5AJZg/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <!--Para Hills-->
    <div id="preParaHills" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeqEDmA7HYSVmDGgJob2LK47Nwb8NgwkiSMi99OIeX-Y7fdlw/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <div id="postParaHills" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScarSRqMLikZalOwpAaDZOR76UELlsvsEHRjarXL98f_skOHA/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>
</div>



<script>
    var prePost = 'pre'; // varible to stored current radio button choice

    // Method to chose which embedded survey to display. Gets currently chosen radio button and selected school
    function choseSurvey() {
        var school = document.getElementById("s1").value;
        var i, tabcontent;
        var survey = prePost + school
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        document.getElementById(survey).style.display = "block";
        document.getElementById("s1").className += " active";
    }
    // Method to set value of the currently clicked radio button. 
    // When called, choseSurvey is called through inline 'onclick' to display the school's survey
    function cSurvey(evt) {
        var school = document.getElementById("s1").value;
        prePost = evt.currentTarget.value;
        document.getElementById(school).click();
                
    }
</script>

