
@{
    ViewBag.title = "Survey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /*heading*/
    h1 {
        text-align: center;
        font-family: Titillium Web, sans-serif;
        color: #004b8d;
        margin-top: 100px;
    }
    /*Styling the Embedded element*/
    iframe {
        width: 100%;
        height: 100%;
    }
    /*the div element holding each survey*/
    .tabcontent {
        height: 5600px;
        display: none;
        margin-bottom: 20px;
    }
    /* side bar text*/
    #textPara {
        margin-top: 20px;
        font-size: 20px;
        width: 100%;
        font-family: 'Titillium Web', sans-serif;
        color: #002b5c;
    }
    /*Container for the buttons*/
    .form-check {
        margin-top: 20px;
        font-family: 'Titillium Web', sans-serif;
    }
    /*drop down menu to chose the school*/
    #selSchool {
        margin-top: 20px;
        width: 100%;
    }
    /*select element for drop down menu*/
    #s1 {
        background-color: #33619e;
        font-family: 'Titillium Web', sans-serif;
        color: white;
        padding: 5px;
        border: 1px solid black;
        width: 100%;
        cursor: pointer;
        margin-top: 60px;
        border-radius: 5px;
    }
    /*the side select options container*/
    #wholeRow {
        top: 20px;
        width: 100%; 
    }
    /*Hide the default radio buttons*/
    input[type=radio]{
        opacity: 0;
        width: 0;
        height: 0;
        
    }
    /*Style the buttons to choose pre/post surveys */
    label {
        position: absolute;
        left: 0;
        top: 0;
        height: 40px;
        width: 100%;
        border: 2px solid #33619e;
        padding: 5px;
        padding-bottom: 10px;
        font-size: 20px;
        border-radius: 5px;
        background-color: white;
        cursor: pointer;
        color: black;
        text-align: center;
    }
    /* when mouse is hoved on label*/
        label:hover {
            background-color: #33619e;
            cursor: pointer;
            color: white;
        }
    /*When label is clickes*/
    input[type=radio]:checked + label {
        background-color: #33619e;
        color: white;
    }
</style>

<h1>Survey</h1>

<div class="row">
    <div class="col-md-3">
        <div id="wholeRow">
            <div id="textPara">
                <p>Please select ...</p>
            </div>
            <!--Radio Buttons, styled into labels-->
            <div class="form-check">
                <input class="form-check-input" type="radio" id="Pre" name="Survey" value="pre" onclick="cSurvey(event), choseSurvey()" checked />
                <label class="form-check-label" for="Pre">Pre Survey</label><br />
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="Post" name="Survey" value="post" onclick="cSurvey(event), choseSurvey()" />
                <label class="form-check-label" for="Post">Post Survey</label>
            </div>
            <!--Drop down menu for students to choose their school-->
            <div id="selSchool">
                <select id="s1" name="Schools" onchange="choseSurvey()">
                    <option value="" disabled selected>Please select your school</option>
                    <option value="BrightonPS" id="BrightonPS" onclick="choseSurvey()">Brighton PS</option>
                    <option value="KingsBaptist" id="KingsBaptist" onclick="choseSurvey()">Kings Baptist</option>
                    <option value="JPSSSAASTA" id="JPSSSAASTA" onclick="choseSurvey()">JPSS SAASTA</option>
                    <option value="OVCSAASTA" id="OVCSAASTA" onclick="choseSurvey()">OVC SAASTA</option>
                    <option value="WhyallaSAASTA" id="WhyallaSAASTA" onclick="choseSurvey()">Whyalla SAASTA</option>
                    <option value="CedunaSAASTA" id="CedunaSAASTA" onclick="choseSurvey()">Ceduna SAASTA</option>
                    <option value="MurrayBridgeSAASTA" id="MurrayBridgeSAASTA" onclick="choseSurvey()">Murray Bridge SAASTA</option>
                    <option value="MOCSAASTA" id="MOCSAASTA" onclick="choseSurvey()">MOC SAASTA</option>
                    <option value="PlayfordSAASTA" id="PlayfordSAASTA" onclick="choseSurvey()">Playford SAASTA</option>
                    <option value="LoretoCollege" id="LoretoCollege" onclick="choseSurvey()">Loreto College</option>
                    <option value="StPaulsCollege" id="StPaulsCollege" onclick="choseSurvey()">St Pauls College</option>

                </select>
            </div>
        </div>
    </div>
    <!--Each div element contains the embed code for the pre or post surveys -->
    <!--Brighton PS-->
    <div id="preBrightonPS" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScJgzwO1kWZ-1OZPnYxQXfxsdSc8Z7yqdrWgpQcXB8KOgbPYg/viewform?embedded=true" 
                frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>

    <div id="postBrightonPS" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfZqZHLWYmsyX11ELEpthB-SxRNyNQtgFVwjpMJ4qLw6M0iaw/viewform?embedded=true" 
                frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>

    <!--Kings Baptist-->
    <div id="preKingsBaptist" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdFg1E_VZ-1x_uz4NvFFeMeF8eK2bxMj1ItVzG9OqUviJT0Aw/viewform?embedded=true" 
                frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>

    <div id="postKingsBaptist" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdm_Fzty_57ZzZk8BvGf7vKkdfU9Z3puDh9W6HF_69VfejI5w/viewform?embedded=true" 
                frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>

    <!--JPSS SAASTA-->
    <div id="preJPSSSAASTA" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScTNn0xBCvWT6vIzpib-xFj_EKE7Z6Q3gdCpcagfHDsEQIaOA/viewform?embedded=true" 
                frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>

    <div id="postJPSSSAASTA" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfh6y5ax4kbh1Cj6peo2aVeDsJeTiBcTnVBESCQ9kmqxy4QPg/viewform?embedded=true" 
                frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>

    <!--OVC SAASTA-->
    <div id="preOVCSAASTA" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScW0cKN-wdfN5hIiqzdmCbk2JB8erszkrhOIPuBLuLiCNiaLg/viewform?embedded=true" 
                frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>

    <div id="postOVCSAASTA" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSclIUo1JxlJvXs9-gd9CNvXAHvLowDBejtSHbfaSuBoTZ3hUw/viewform?embedded=true" 
                frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>

    <!--Whyalla SAASTA-->
    <div id="preWhyallaSAASTA" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfesMJ-W66axxe6d2Z7ArlInNclzcj8oeBdKdaCZTF17u-nkQ/viewform?embedded=true" 
                frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>

    <div id="postWhyallaSAASTA" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScBmzYDnoe67MFeqzpznxTXlMHdZj23cWouG6e4RycvNkNTzQ/viewform?embedded=true" 
                frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>

    <!--Ceduna SAASTA-->
    <div id="preCedunaSAASTA" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd0qYaQTduXJLjMgyzItG6RIE8x-G1tRSlVCh1HfEaAOZgihw/viewform?embedded=true" 
                frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>

    <div id="postCedunaSAASTA" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSckoflUwMNVKvOAGlLwKODDQQcdt2suunBRfDUBiEs5qYjIfQ/viewform?embedded=true" 
                frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>

    <!--MurrayBridge SAASTA-->
    <div id="preMurrayBridgeSAASTA" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe8yQJTWEg7FHZ-iRiA7cuYIX5r4w_NwAwka5YlM-PqFfl1Vw/viewform?embedded=true" 
                frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>

    <div id="postMurrayBridgeSAASTA" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScYKgyxyWyHdaacVumvQlZS957_T8cj4flfHOgWg-0VJSzJcQ/viewform?embedded=true" 
                frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>

    <!--MOC SAASTA-->
    <div id="preMOCSAASTA" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfkpJgw2yBTj5Es0PE0JfmpWm5ANTsXnUQG3VyVvw7JOFqQDA/viewform?embedded=true" 
                frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>

    <div id="postMOCSAASTA" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdlBx2rTX5hOMHtDGZHRUJw_C6Ui4ZAsRxieF9a5Nv2qbShlg/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>

    <!--Playford SAASTA-->
    <div id="prePlayfordSAASTA" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdRAbx9AS9u_01q-IhxYv0VHoSuBfVU9lPsCN5PQ6V_qhBm9Q/viewform?embedded=true" 
                frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>

    <div id="postPlayfordSAASTA" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd8_NoJp-LV368U4xwdAKNrSXzLT7VN1A0g4cboJdYzRssn2g/viewform?embedded=true" 
                frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>

    <!--LoretoCollege-->
    <div id="preLoretoCollege" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScegW-1jMEbltW_FcMkRdKD7Bz4t8dSVJwJvIjUZ3bfdj0kqg/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>

    <div id="postLoretoCollege" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeofc5dfETQ1kLm8pvrluHAI835qrWhkG96hQ2Gm7X_VTTWxg/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>

    <!--StPaulsCollege-->
    <div id="preStPaulsCollege" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScwHRjCpebGXtEgJ3j-LamsmnxChcq5G8NtanC-dsFJ8rHDOQ/viewform?embedded=true" 
                frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>

    <div id="postStPaulsCollege" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScj9uYjDla_yXK0J3V2X0P4G5YWd9UCHE17bBg-oYr0k6JWvg/viewform?embedded=true" 
                frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
</div>



<script>
    var prePost = 'pre'; // varible to stored current radio button choice
    stickyNavbar();

    // Method to chose which embedded survey to display. Gets currently chosen radio button and selected school
    function choseSurvey() {
        var school = document.getElementById("s1").value;
        var i, tabcontent;
        var survey = prePost + school
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        document.getElementById(survey).style.display = "block";
        document.getElementById("s1").className += " active";
    }
    // Method to set value of the currently clicked radio button. 
    // When called, choseSurvey is called through inline 'onclick' to display the school's survey
    function cSurvey(evt) {
        var school = document.getElementById("s1").value;
        prePost = evt.currentTarget.value;
        document.getElementById(school).click();
                
    }
    // Method to fix the navbar to the top on scroll. 
    // Adds to nav tag class list
    function stickyNavbar() {
        var element = document.getElementsByTagName('nav');
        element[0].classList.add('fixed-top');
    }
</script>

