
@{
    ViewBag.title = "Survey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /*heading*/
    h1 {
        text-align: center;
        font-family: Titillium Web, sans-serif;
        color: #004b8d;
        margin-top: 100px;
    }
    /*Styling the Embedded element*/
    iframe {
        width: 100%;
        height: 100%;
    }
    /*the div element holding each survey*/
    .tabcontent {
        height: 5600px;
        display: none;
        margin-bottom: 20px;
    }
    /* side bar text*/
    #textPara {
        margin-top: 20px;
        font-size: 20px;
        width: 100%;
        font-family: 'Titillium Web', sans-serif;
        color: #002b5c;
    }
    /*Container for the buttons*/
    .form-check {
        margin-top: 20px;
        font-family: 'Titillium Web', sans-serif;
    }
    /*drop down menu to chose the school*/
    #selSchool {
        margin-top: 20px;
        width: 100%;
    }
    /*select element for drop down menu*/
    #s1 {
        background-color: #33619e;
        font-family: 'Titillium Web', sans-serif;
        color: white;
        padding: 5px;
        border: 1px solid black;
        width: 100%;
        cursor: pointer;
        margin-top: 60px;
        border-radius: 5px;
    }
    /*the side select options container*/
    #wholeRow {
        top: 20px;
        width: 100%;
    }
    /*Hide the default radio buttons*/
    input[type=radio] {
        opacity: 0;
        width: 0;
        height: 0;
    }
    /*Style the buttons to choose pre/post surveys */
    label {
        position: absolute;
        left: 0;
        top: 0;
        height: 40px;
        width: 100%;
        border: 2px solid #33619e;
        padding: 5px;
        padding-bottom: 10px;
        font-size: 20px;
        border-radius: 5px;
        background-color: white;
        cursor: pointer;
        color: black;
        text-align: center;
    }
        /* when mouse is hoved on label*/
        label:hover {
            background-color: #33619e;
            cursor: pointer;
            color: white;
        }
    /*When label is clickes*/
    input[type=radio]:checked + label {
        background-color: #33619e;
        color: white;
    }
</style>

<h1>Survey</h1>

<div class="row">
    <div class="col-md-3">
        <div id="wholeRow">
            <div id="textPara">
                <p>Please select ...</p>
            </div>
            <!--Radio Buttons, styled into labels-->
            <div class="form-check">
                <input class="form-check-input" type="radio" id="Pre" name="Survey" value="pre" onclick="cSurvey(event), choseSurvey()" checked />
                <label class="form-check-label" for="Pre">Pre Survey</label><br />
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="Post" name="Survey" value="post" onclick="cSurvey(event), choseSurvey()" />
                <label class="form-check-label" for="Post">Post Survey</label>
            </div>
            <!--Drop down menu for students to choose their school-->
            <div id="selSchool">
                <select id="s1" name="Schools" onchange="choseSurvey()">
                    <option value="" disabled selected>Please select your school</option>
                    <option value="MadisonParkSchool" id="MadisonParkSchool" onclick="choseSurvey()">Madison Park School</option>
                    <option value="GoldenGroveHigh" id="GoldenGroveHigh" onclick="choseSurvey()">Golden Grove High</option>
                    <option value="HendonPS" id="HendonPS" onclick="choseSurvey()">Hendon PS</option>
                    <option value="ReynellaEastCollege" id="ReynellaEastCollege" onclick="choseSurvey()">Reynella East College</option>
                    <option value="ReynellaSouthSchool" id="ReynellaSouthSchool" onclick="choseSurvey()">Reynella South School</option>
                    <option value="ThePines" id="ThePines" onclick="choseSurvey()">ThePines</option>
                    <option value="WestBeachPrimary" id="WestBeachPrimary" onclick="choseSurvey()">West Beach Primary</option>
                    <option value="StPauls" id="StPauls" onclick="choseSurvey()">St Pauls</option>
                    <option value="RenmarkNorthPrimarySchool" id="RenmarkNorthPrimarySchool" onclick="choseSurvey()">Renmark North Primary School</option>
                    <option value="LoxtonPrimarySchool" id="LoxtonPrimarySchool" onclick="choseSurvey()">Loxton Primary School</option>
                </select>
            </div>
        </div>
    </div>
    <!--Each div element contains the embed code for the pre or post surveys -->
    <!--MadisonParkSchool-->
    <div id="preMadisonParkSchool" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc92_amOM8aPSuBySjDvbYmRRVzpM--ZicaNMcEuY7ZOH6drg/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <div id="postMadisonParkSchool" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeH3zaOe2fws3rPgkYPKDCAW8TZPCqct6hAmZ46JvB7np8_2Q/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <!--GoldenGroveHigh-->
    <div id="preGoldenGroveHigh" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeJjgHlj5lu679j7XnLqoSBllqmaW6KfQ31F58KczvhWJwL3w/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <div id="postGoldenGroveHigh" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScfCXnKjmH7B43Y3ZSxCZsonHxTgLx7TGgzF6cxGqquUgzN4w/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <!--HendonPS-->
    <div id="preHendonPS" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf4Fp9eTtAk4feYyZ94zF1YwXJr8TVZO6iQZuZBSO_3DV9vWA/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <div id="postHendonPS" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfWYdtKVG7-AGIM61H27h_chKcsB0ZypD_cNPwIctEj6SxtFg/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <!--ReynellaEastCollege-->
    <div id="preReynellaEastCollege" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdzM08TZBYQ_6hecHQoAveIgSAT_ZVK2m-VtTJYOE--R1VpNw/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <div id="postReynellaEastCollege" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeyuwgPccJ-iRZhCT613bGjebfZxqSTHTDDawSzdCy5g9VsGg/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <!--Reynella South School -->
    <div id="preReynellaSouthSchool" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfQj9hPup6ndQZ9xntSujghV4pebBrgkCEIk9uuMmivvR84Gg/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <div id="postReynellaSouthSchool" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe49JRW-N1hxqqTYaHrwOd-_fSgwhKXX615udEWeVjDHFaogA/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <!--The Pines -->
    <div id="preThePines" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfylKnw6o7Ef4iZawhVR7nVq48PzTt-1lm6703cVOut4rAHdQ/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <div id="postThePines" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf00REDOW6eDWvSJ2XnBmcjGhLZb8ulUpflgN_Oexiu2XTNuA/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <!--West Beach Primary -->
    <div id="preWestBeachPrimary" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdiVPBCwo3lWlcWKT4ebtQW6m1OJhlwZEoifL3kpWX4t9Fh2A/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <div id="postWestBeachPrimary" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdeg6TFcWPuOMUSkUMqcDNrxtKDXFEVVqWMDesqriWFBJ62hw/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <!--St Pauls-->
    <div id="preStPauls" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSePhY79geBT-PCeC3kVh_3ciCh1ogS0xvWObB3v6X6uu74P7g/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <div id="postStPauls" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd0ZW3RxtAhvyvGJrz_R124uN32DF_EG3YVUfqocne95xRmnQ/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <!--Renmark North Primary School -->
    <div id="preRenmarkNorthPrimarySchool" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScvaBaIn2u2NenzdEIQLaiUlbdwDkGx1Ww-xLBwYfXn1mCWoQ/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <div id="postRenmarkNorthPrimarySchool" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc-Tni9GYhGvq7hGmQsi0GQ0wbVObi-KOygxPCoEO-zKyeyyA/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <!--Loxton Primary School  -->
    <div id="preLoxtonPrimarySchool" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSceGwz7_sbF_OC3JL9tyzt0-bChmOtyUTHOdfi_aRmO3rTKpg/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

    <div id="postLoxtonPrimarySchool" class="tabcontent col-md-9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdNF2KDAOzsVryFMDGKP-CuS9K9wIk0ekMyHkOCnQFwWR3_rg/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    </div>

</div>



<script>
    var prePost = 'pre'; // varible to stored current radio button choice
    stickyNavbar();

    // Method to chose which embedded survey to display. Gets currently chosen radio button and selected school
    function choseSurvey() {
        var school = document.getElementById("s1").value;
        var i, tabcontent;
        var survey = prePost + school
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        document.getElementById(survey).style.display = "block";
        document.getElementById("s1").className += " active";
    }
    // Method to set value of the currently clicked radio button.
    // When called, choseSurvey is called through inline 'onclick' to display the school's survey
    function cSurvey(evt) {
        var school = document.getElementById("s1").value;
        prePost = evt.currentTarget.value;
        document.getElementById(school).click();

    }
    // Method to fix the navbar to the top on scroll.
    // Adds to nav tag class list
    function stickyNavbar() {
        var element = document.getElementsByTagName('nav');
        element[0].classList.add('fixed-top');
    }
</script>

